  
  .page{
    margin: auto 100px;
  }
  .head{
    display: flex;
  }
  .imge{
  width: 90%;
  height: 90%;
  object-fit:cover;
    }
     ul li {
      list-style: none;
      display: inline;
      text-align: right;
      color: rgb(27, 12, 123);
      font-size: 1.2rem;
      text-transform: capitalize;
      padding: 15px;
    }
    .images{
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: auto auto;
    }

    .imge4{
      grid-column: span 2;
    }
    .images .imge:nth-child(5){
      grid-column: span 1;
    }
    .imge{
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }



     footer {
            background: #1e3d59;
            padding: 20px 150px 40px;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .footer-links a {
            color: white;
            margin-right: 15px;
            text-decoration: none;
        }

        .footer-links a:hover {
            color: #ffcc00;
        }
