  body{
    margin: 0;
  }
  .page{
    margin: auto 100px;
  }
  .head{
    display: flex;
    background-color: rgb(11, 11, 71);
    padding: 5px 40px;
    justify-content: space-between;
    color: #fff;
  }
  .imge{
  width: 70%;
  height: 70%;
  object-fit:cover;
    }
     ul li {
      list-style: none;
      display: inline;
      text-align: right;
      color: rgb(27, 12, 123);
      font-size: 16px;
      text-transform: capitalize;
      padding: 10px 20px;
      color: #fff;
    }
    .images{
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: auto auto;
    }

    .imge4{
      grid-column: span 2;
    }
    .images .imge:nth-child(5){
      grid-column: span 1;
    }
    .imge{
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }

    
        .banner2{
          display: flex;
          margin: auto 200px;
          padding: 60px 0;
        }
        .bam2-box{
          flex: 1;
        }
        .ban2-left img{
          width: 600px;
          height: auto;
        }
        .ban2-right{
          padding: 80px;
        }
         .ban2-right h3{
          font-size: 1.5rem;
          font-weight: 400;

         }
         .ban2-right p{
          margin-bottom: 40px;
         }
         .ban2-right a{
          color: white;
          text-decoration: none;
          background-color: rgb(24, 7, 99);
          padding: 15px 40px;
          font-family:Arial, Helvetica, sans-serif;
          font-size: 12px;
          text-align: center;
         }

     footer {
            background: #1e3d59;
            padding: 20px 150px 40px;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .footer-links a {
            color: white;
            margin-right: 15px;
            text-decoration: none;
        }

        .footer-links a:hover {
            color: #ffcc00;
        }
