#box{
  background-color: rgb(74, 78, 159);
  padding: 40px;
  margin: 30px 60px;
}
.abesimg{
  width: 400px;
  height: 400px;
  padding: 40px 20px;
  display: block;
  margin: auto;
}
.box-in{
  color: #fff;
}
.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(87, 120, 120);
  flex-direction:row-reverse;
}
.box2{
  padding: 4px 8px;
  margin: 6px;
  color: #fff;
}
 .content{
  display: flex;
  flex-wrap: wrap;
  padding: 4px 8px;
  background-color: rgba(82, 22, 119, 0.667);
 }
 .content li{
  list-style: none;
  display: inline;
  color: #fff;
  justify-content: space-between;
  padding: 4px 8px;
 }