#box{
  background-color: rgb(74, 78, 159);
  padding: 40px;
  margin: 30px 60px;
}
.abesimg{
  width: 400px;
  height: 400px;
  padding: 40px 20px;
  display: block;
  margin: auto;
}
.box-in{
  color: #fff;
}
.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(87, 120, 120);
}
.box2{
  background-color: blanchedalmond;
  padding: 4px 8px;

}