.box{
  text-align: center;
  font-size: 16px;
  padding: 5px;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(91, 55, 91);

}
#box2{
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 9px;
  background-color: rgb(144, 125, 161);
  border: 4px;
  text-align: center;
}