*{
  font-family: Arial, Helvetica, sans-serif;
}
.form{
  background-color: blue;
  padding: 20px 40px;
}
.header{
  background-color: wheat;
  padding: 40px;
}
.course{
  background-color: aquamarine;
  padding: 40px;
}
.textbox{
  background-color: blueviolet;
  padding: 10px;
}
.gender{
  background-color: brown;
  padding: 20px;
}