*{
  font-family: Arial, Helvetica, sans-serif;
}
.form{
  padding: 20px 40px;
}
.form h2{
  color: rgb(93, 18, 18);
  font-size: 2rem;
  text-align: center;
}
.nameEmail{
  padding: 0 10vh 0 0 ;
}
.header{
  background-color: wheat;
  padding: 40px;
  font-size: 1.2rem;
}
.course{
  background-color: aquamarine;
  padding: 40px;
}
.textbox{
  background-color: blueviolet;
  padding: 10px;
}
.gender{
  background-color: brown;
  padding: 20px;
}